@model CreateDiscountDto
@{
    ViewData["Title"] = "CreateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İndirimli Ürün İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni İndirimli Ürün Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="discountTitle">Ürün indirim Adını Giriniz</label>
								<input type="text" class="form-control" asp-for="DiscountTitle" id="discountTitle">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="amount">İndirim Oranını Giriniz</label>
								<input type="text" class="form-control" asp-for="Amount" id="amount">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="DiscountDescription">Ürün İndirim Açıklamasını Giriniz</label>
								<input type="text" class="form-control" asp-for="DiscountDescription" id="DiscountDescription">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="ImageUrl">Ürün Görselini Giriniz</label>
								<input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">İndirimli Ürünü Ekle</button>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

